.wrapper {
  display: flex;
  width: 880px;
  height: 284px;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: var(--shadow);
  font-size: 1.6rem;
  background-color: white;
  color: var(--text-color);
}

.user-info {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  padding-left: 20px;
}

.avatar {
  height: 100px;
  width: 100px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.name {
}

.input {
  // width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-bottom: 1px solid var(--background-color);
  &:focus-within {
    border-bottom: 1px solid var(--primary-color);
  }
  overflow: hidden;
}

.upload-btn {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.save-btn {
  margin-top: 20px;
}

.label-name {
  display: block;
  width: 100%;
  height: 50px;
  text-align: start;
}

.name-input {
  font-size: 1.6rem;
  // width: 140px;
  height: 100%;
  border: none;
  outline: none;
}

.password {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.pass-input {
  font-size: 1.6rem;
  width: 240px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  border-bottom: 1px solid var(--background-color);
  &:placeholder-shown {
    color: var(--placeholder);
  }
  &:focus {
    border-bottom: 1px solid var(--primary-color);
  }
}

.pass-input + .pass-input {
  margin-top: 10px;
}

.change-btn {
  margin-top: 30px;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 400px;
    height: fit-content;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
