.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  height: 230px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 20px;
  z-index: 2;
}

.back {
  position: absolute;
  height: 24px;
  width: auto;
  top: 10px;
  left: 14px;
  cursor: pointer;
  color: var(--background-color);
  &:hover {
    color: var(--placeholder);
  }
}

.header {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 500;
}

.message {
  width: 400px;
  height: 50px;
  font-size: 1.6rem;
}

.btn {
  margin-top: 20px;
}

.btns {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 400px;
    left: 0 !important;
  }
}
