.wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 440px;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--shadow);
  align-items: center;
}

.label {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 34px;
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
  padding: 20px;
}

.name {
  margin-top: 36px;
}

.password {
  margin-top: 6px;
}

.option {
  display: flex;
  width: 460px;
  height: 40px;
  margin-top: 6px;
  align-items: center;
  justify-content: space-between;
}

.remember {
    display: flex;
    align-items: center;
  input {
    height: 24px;
    width: 24px;
  }

  label {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-left: 16px;
  }

}

.forgotpassword {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-decoration: none;
}

.btn {
    margin-top: 30px;
}


