.wrapper {
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.large {
  width: 140px;
  height: 54px;
  font-size: 2rem;
  font-weight: 600;
}

.medium {
  font-size: 1.6rem;
  width: 160px;
  height: 40px;
}

.small {
  font-size: 1.6rem;
  width: 100px;
  height: 40px;
}

.primary {
  background-color: var(--primary-color);
  color: white;
  &:hover {
    background-color: var(--primary-hover);
  }
}

.outline {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--placeholder);
}

.outline-warn {
  color: var(--red-text);
  background-color: white;
  border: 1px solid var(--placeholder);
}

.outline-ok {
  color: var(--green-text);
  background-color: white;
  border: 1px solid var(--placeholder);
}
