@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #f26522;
  --primary-hover: #ffa073;
  --text-color: #636363;
  --green-text: #3f9621;
  --primary-select: #ffdca7;
  --shadow: 0 0 4px 0px var(--text-color);
  --background-color: #dadada;
  --placeholder: #aeaeae;
  --red-text: #ff2222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: #f4f4f4;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--primary-select) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
