.wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 440px;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--shadow);
  align-items: center;
}

.label {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 34px;
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
  padding: 20px;
}

.desc {
  display: inline-block;
  margin-top: 36px;
  color: var(--text-color);
  font-size: 1.6rem;
}

.email {
  margin-top: 24px;
}

.btn  {
  width: 180px !important;
  margin-top: 100px;
}
