.wrapper {
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tooltip {
  width: 80px;
  height: 40px;
  color: white;
  line-height: 40px;
  background-color: var(--text-color);
  font-size: 1.4rem;
  border-radius: 10px;
  text-align: center;
}

.name {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-right: 22px;
}

.avatar {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}

.avatar-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.avatar-btn {
  position: absolute;
  bottom: -2px;
  right: -2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.avatar-icon {
  height: 10px;
  width: 10px;
  color: white;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .tooltip {
    display: none;
  }
}
