.wrapper {
  position: relative;
}

.table {
  height: 765px;
}

.thead {
  border-bottom: 1px solid var(--placeholder);
  height: 50px;
}

.edit-form {
  position: absolute;
  top: 237px;
  left: 180px;
}
