.wrapper {
  position: relative;
}

.table {
  height: 710px;
}

.btns {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.viewer {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 55px);
}

.edit-form {
  position: absolute;
  top: 190px;
  left: 180px;
}

.export-btn {
  height: 24px;
  width: auto;
  color: var(--primary-color);
  cursor: pointer;
}

.export-form {
  position: absolute;
  top: 240px;
  left: 180px;
}

.delete-form {
  position: absolute;
  top: 240px;
  left: 180px;
}

.export-form {
  position: absolute;
  top: 240px;
  left: 180px;
}

.update-form {
  position: absolute;
  top: 240px;
  left: 180px;
}

.export-all {
  position: absolute;
  top: 88px;
  left: 0;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .btns {
    height: 200px;
    flex-direction: column;
    align-items: center;
  }

  .export-all {
    top: 164px;
  }
}
