.wrapper {
  position: relative;
  height: 902px;
  width: 280px;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 20px 0;
  transition: transform 0.2s ease-in;
}

.menu-btn {
  visibility: hidden;
  position: absolute;
  font-size: 2.4rem;
  top: 0;
  padding: 0 10px;
  right: -44px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.active {
  div {
    background-color: var(--primary-select);
  }
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .menu-btn {
    visibility: visible;
  }

  .show {
    transform: translateX(280px);
  }
}
