.wrapper {
  position: relative;
}

.table {
  height: 710px;
}

.btns {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.viewer {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 55px);
}

.edit-form {
  position: absolute;
  top: 190px;
  left: 180px;
}

.delete-form {
  position: absolute;
  top: 240px;
  left: 180px;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .btns {
    height: 150px;
    flex-direction: column;
    align-items: center;
  }
}
