.wrapper {
  display: flex;
  width: 312px;
  height: 32px;
  font-size: 1.6rem;
  color: var(--text-color);
  align-items: center;
}

.picker {
  display: flex;
  position: relative;
  width: 120px;
  height: 100%;
  margin: 0 4px;
  align-items: center;
  border: 1px solid var(--placeholder);
  border-radius: 8px;
}

.picker-input {
  width: 80px;
  margin-left: 4px;
  outline: none;
  border: none;
  font-size: 1.6rem;
  &:placeholder-shown {
    color: var(--placeholder);
  }
}

.picker-icon {
  height: 24px;
  width: auto;
  margin-left: 2px;
  cursor: pointer;
}

.picker-day {
  position: absolute;
  top: 24px;
  right: -16px;
  background-color: white;
  padding: 10px;
  box-shadow: var(--shadow);
  border-radius: 20px;
  z-index: 1;

  .rdp-day:hover {
    background-color: var(--primary-hover);
  }
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .picker-day {
    width: fit-content;
    left: -80px;
  }
}
