.wrapper {
  font-size: 1.6rem;
}

.input-group {
  display: flex;
  height: 50px;
  width: 460px;
  border-radius: 20px;
  border-bottom: 1px solid var(--background-color);
  align-items: center;
  &:focus-within {
    border-bottom: 1px solid var(--primary-color);
  }
}

.input {
  height: 100%;
  width: 340px;
  margin-left: 60px;
  outline: none;
  border: none;
  font-size: 1.6rem;
  &:placeholder-shown {
    color: var(--placeholder);
  }
}

.icon {
  height: 24px;
  width: auto;
  margin-right: 20px;
  color: var(--text-color);
}

.error {
  width: 100%;
  height: 24px;
  margin-left: 60px;
  text-align: start;
  color: var(--red-text);
}
