.wrapper {
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.file {
  height: 30px;
  width: auto;
  color: var(--primary-color);
}

.tick {
  position: absolute;
  bottom: -2px;
  right: -8px;
  height: 14px;
  width: 14px;
  color: var(--green-text);
}
