.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  margin-top: 10px;
  width: 1180px;
  height: 902px;
  justify-content: center;
}

.content {
  margin-left: 20px;
  width: 880px;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .main {
    position: relative;
    max-width: 480px;
    display: flex;
    justify-content: center;
  }

  .sidebar {
    position: absolute !important;
    left: -250px;
    z-index: 1;
  }

  .content {
    max-width: 400px;
    margin: 0;
  }
}
