.wrapper {
}

.bar {
  display: flex;
  height: 74px;
  width: 880px;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--shadow);
  align-items: center;
  // justify-content: space-evenly;
}

.day {
  margin-left: 44px;
}

.line {
  height: 46px;
  width: 1px;
  margin-left: 80px;
  background-color: var(--placeholder);
}

.input {
  width: 280px;
  height: 40px;
  margin-left: 80px;
  color: var(--text-color);
  border: none;
  text-align: center;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--placeholder);
  outline: none;
  &:placeholder-shown {
    color: var(--placeholder);
  }
  &:focus {
    border-bottom: 1px solid var(--primary-color);
  }
}

.btns {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 14px;

  .query-btn {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
  .bar {
    max-width: 400px;
    width: 400px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .day {
    margin: 0;
  }

  .input {
    margin: 0;
  }

  .line {
    display: none;
  }
}
