.wrapper {
  width: 100vw;
  height: 100px;
  background-color: white;
}

.content {
  width: 1180px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

.logo {
  width: 160px;
}

@media only screen and (max-width: 960px) {
  .content {
  }
}

@media only screen and (max-width: 480px) {
  .content {
    max-width: 100%;
    padding: 0 10px;
  }
}
