.wrapper {
  height: 842px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 20px;
  overflow: hidden;
}

.close-btn {
  height: 24px;
  width: auto;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  color: var(--placeholder);
  cursor: pointer;

  &:hover {
    color: var(--text-color);
  }
}

.viewer {
  color: var(--primary-color);
}

.bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40px;
}

.function {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .wrapper {
    z-index: 2;
  }
}
