.wrapper {
  position: relative;
  height: 902px;
  width: 280px;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 20px 0;
  transition: transform 0.2s ease-in;
}

.menu-btn {
  visibility: hidden;
  position: absolute;
  font-size: 2.4rem;
  top: 0;
  padding: 0 10px;
  right: -44px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.active {
  .item,
  .sub-item {
    background-color: var(--primary-select);
  }
}

.item {
  display: flex;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  padding-right: 10px;
  margin-left: 15px;
  color: var(--text-color);
  align-items: center;
  cursor: pointer;
}

.item + .item {
  margin-top: 10px;
}

.item:hover {
  background-color: var(--primary-select);
}

.item-icon {
  width: 24px;
  height: auto;
  margin-left: 22px;
}

.item-label {
  margin-left: 20px;
  font-size: 1.6rem;
  text-align: start;
  cursor: pointer;
}

.sub-item {
  width: 208px;
  height: 42px;
  border-radius: 10px;
  text-align: start;
  &:hover {
    background-color: var(--primary-select);
  }
  color: var(--text-color);
  cursor: pointer;
}

.sub-label {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.6rem;
  line-height: 42px;
  cursor: pointer;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 224px;
  height: 128px;
  border-radius: 20px;
  background-color: white;
  box-shadow: var(--shadow);
}

.sub-link {
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.active-link {
  background-color: var(--primary-select);
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .menu-btn {
    visibility: visible;
  }

  .show {
    transform: translateX(280px);
  }
}
