.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  height: 480px;
  background-color: white;
  border-radius: 20px;
  font-size: 1.6rem;
  box-shadow: var(--shadow);
  z-index: 2;
}

.header {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 500;
}

.input-area {
  margin-top: 20px;
}

.btn {
  margin-top: 30px;
  padding: 0 20px;
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.edit {
  position: relative;
  width: 400px;
  height: 50px;
  &:focus-within .line {
    background-color: var(--primary-color);
  }
}

.label {
  display: inline-block;
  width: 140px;
  height: 100%;
  margin-left: 40px;
  text-align: start;
}

.input {
  width: 220px;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.line {
  position: absolute;
  width: 360px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--background-color);
  top: 42px;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 400px;
    left: 0 !important;
  }
}
