.wrapper {
  font-size: 1.6rem;
  margin-top: 10px;
  color: var(--text-color);
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--shadow);
  overflow: hidden;
}

.header {
  width: 260px;
  height: 50px;
  margin-left: 20px;
  font-size: 1.8rem;
  float: left;
  text-align: start;
  line-height: 50px;
  font-weight: 500;
}

.table {
  border-collapse: collapse;
  width: 98%;
  margin: auto;
  Th {
    border-top: 1px solid var(--placeholder);
    height: 50px;
    background-color: #f8f8f8;
  }

  Tr:hover {
    background-color: var(--primary-select);
  }

  Td {
    text-align: center;
    height: 50px;
    border-bottom: 1px solid var(--background-color);
  }
}

.head-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
  label {
    display: inline-flex;
    flex-wrap: wrap;
  }
  div {
    float: right;
  }
}

.selected-row {
  Td {
    background-color: #fde8c9;
  }
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .head-item {
    justify-content: space-between;
  }
}
