.wrapper {
  position: relative;
}

.table {
  height: 765px;
}

.btns {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.export-btn {
  height: 24px;
  width: auto;
  color: var(--primary-color);
  cursor: pointer;
}

.export-form {
  position: absolute;
  top: 240px;
  left: 180px;
}

.export-all {
  position: absolute;
  top: 88px;
  left: 0;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
  .export-all {
    top: 164px;
  }
}
