.wrapper {
  height: 180px;
  width: 260px;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
}

.item {
  height: 36px;
  width: 238px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
  &:hover {
    background-color: var(--primary-select);
  }
}

.item + .item {
  margin-top: 4px;
}

.item-icon {
  width: 24px;
  height: auto;
  margin-left: 15px;
}

.item-label {
  width: 125px;
  margin-left: 22px;
  text-align: start;
  cursor: pointer;
}

.item-arrow {
  width: 12px;
  height: auto;
  margin-left: 30px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.language-item {
  height: 36px;
  width: 150px;
  line-height: 36px;
  font-size: 1.6rem;
  cursor: pointer;
  &:hover {
    background-color: var(--primary-select);
  }
  text-align: start;
  border-radius: 10px;
  padding-left: 20px;
}

.language-menu {
  height: 100px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 0 10px;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 480px) {
}
